*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 8%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F5F1EC;
    padding-top: 20px;
    gap: 50px;
}

nav a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

nav a:hover{
    background-color:#BFB39F;
}

.ProfilIMG{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: black;
    height: 80px;
    width: 82px;
    border-radius: 50%;

}
.main-content{
    padding-left: 10%;
    margin-left: 5px;
    margin-top: 30px;
    margin-right: 15px;
}

.headerDashboard{
    gap: 300px;
    display: flex;
    align-items: center;
}

.welcome{
    display: flex;
    flex-direction: column;
}
.welcome h3{
    margin-left: 5px;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
}

.welcome img{
    margin-left: 15px;
    height: 30px;

}
#tanggal-waktu{
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
}

/* .searchBar{
    height: 60px;
    width: 500px;
    background-color: #F5F1EC;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
}

.search{
    font-style: italic;
    border: none;
    outline: none;
    background-color: #F5F1EC;
} */
.midDashboard{
    display: flex;
    gap: 30px;
    margin: 50px 5px;
    
}
.content{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 290px;
    height: 130px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
}



.thirdDashboard{
    margin: 0 20px;
    display: flex;
    gap: 80px;
    align-items: center;
    margin-bottom: 20px;
}

.list1, .list2{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 530px;
    height: 360px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.list1::-webkit-scrollbar, .list2::-webkit-scrollbar{
    display: none;
}
.list1 h3, .list2 h3{
    padding-top: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.list1 th, .list2 th {
    border-bottom:1px solid black;
    font-size: 12px;
    font-weight: 600;
    height: 40px;
    padding: 10px;
}

.list1 td, .list2 td{
    font-size: 12px;
    font-weight: 300;
    padding: 10px;
    border-bottom: 1px  solid black;
    height: 50px;
    margin-top: 20px;
}

.list1 tr, .list2 tr {
    margin: 30px;
}

.list1 a, .list2 a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 600px;
    text-align: right;
}
.top-choice{
    display: flex;
    margin-top: 20px;
    height: 360px;
    margin-bottom: 20px;
}

.bookfav{
    display:flex;
    flex-direction: row;
    gap: 50px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.bookfav::-webkit-scrollbar{
    display: none;
}

.topImage{
    width: 220px;
    height: 290px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.topImage img{
    width: 100%;
    height:100%;
}

.listtop a{
    color: black;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.listtop{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.listtop p{
    color: #BFB39F;
    font-size: 12px;
    font-weight: 700;
}

.userlist, .booklist{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    width:1100px;
}

.memberHeader h3{
    color: #BFB39F;
    font-weight: 800;
    font-size: 30px;
}

.memberHeader{
    display: flex;
    padding-right: 67%;
    padding-top: 5%;
    gap: 20px;
    margin-bottom: 10px;
}

.action{
    margin-left: 10px;
    display: flex;
    gap: 10px;
}
.action img{
    width: 20px;
    height: 20px;
}

.h3-DataMember{
    margin-left: 37%;
    padding-top: 30px;
}

#imageTable{
    height: 150px;
    width: 100px;
}

.bookDetail{
    display: flex;
    gap:100px;
    margin: 50px;
    margin-left: 100px;
}

.bookDetail img{
    width: 230px;
    height: 310px;
}
.bookDetail span{
    font-weight: 700;
}

.detail{
    padding-top: 30px;
}

.sypnosis{
    text-align: justify;
}

