*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 8%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F5F1EC;
    padding-top: 20px;
    gap: 30px;
}

nav a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

nav a:hover{
    background-color:#BFB39F;
}

.ProfilIMG{
    margin: 20px;
    background-color: black;
    height: 80px;
    width: 82px;
    border-radius: 50%;

}
.main-content{
    padding-left: 10%;
    margin-left: 5px;
    margin-top: 30px;
}

.headerDashboard{
    gap: 300px;
    display: flex;
    align-items: center;
}

.welcome{
    display: flex;
    flex-direction: column;
}
.welcome h3{
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
}

.welcome p{
    margin-left: 5px;
    font-size: 40px;
    font-weight: 700;
    color: #BFB39F;
}
#tanggal-waktu{
    font-size: 15px;
    font-weight: 500;
}

.searchBar{
    height: 60px;
    width: 500px;
    background-color: #F5F1EC;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
}

.search{
    font-style: italic;
    border: none;
    outline: none;
    background-color: #F5F1EC;
}
.midDashboard{
    display: flex;
    gap: 30px;
    margin: 50px 5px;
    
}
.content-1, .content-2, .content-3, .content-4{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 290px;
    height: 130px;
    border-radius: 20px;
}

.thirdDashboard{
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 20px;
}

.list-1, .list-2{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 530px;
    height: 360px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.list-1 h3{
    text-align: justify;
    font-size: 24px;
    font-weight: 500;
}
.list-1 th {
    border-bottom:1px solid #BFB39F;
    font-size: 12px;
    font-weight: 600;
}

.list-1 td{
    border-bottom: 1px solid #BFB39F;
    font-size: 12px;
    font-weight: 300;
}
.list-1 a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 600px;
    text-align: right;
}
.top-choice{
    display: flex;
    margin-top: 20px;
    height: 340px;
}

.bookfav{
    display:flex;
    flex-direction: row;
    gap: 50px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.bookfav::-webkit-scrollbar{
    display: none;
}

.listtop image{
    max-width: 200px;
    max-height: 250px;
}

.listtop a{
    color: black;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.listtop{
    display: flex;
    flex-direction: column;
}

.listtop p{
    color: #BFB39F;
    font-size: 12px;
    font-weight: 500;
}

.userlist{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    gap: 50px;
}

.userlist h1{
    font-weight: 500;
    font-size: 30px;
}

.userlist table{
    margin-left: 10%;
    padding: 15px;
    background-color: #BFB39F;
    border-radius: 20px;
    width: 1100px;
    text-align: left;
    
}
th{
    border-bottom: 1px solid #F5F1EC;
    height: 40px;
}
td {
    border-bottom: 1px  solid #F5F1EC;
    height: 50px;
    margin-top: 20px;
}
.action{
    display: flex;
    gap: 10px;
}
.action img{
    width: 30px;
    height: 30px;
}
